@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poor+Story&family=Protest+Riot&family=Protest+Strike&display=swap');

body{
    background-color: #000;
    background-image: url('../images/movie-background.jpg');
    background-size: cover;
    background-repeat: no-repeat; 
}  

.navbar{
    background-color:rgb(167, 149, 48) ;
    padding: 2px;
}

.nav-logo{
    color: rgb(82, 7, 7);
    margin-left: 50px;
    font-family: "Protest Strike", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-logo span{
    font-size: 20px;
}

.text{
    color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    
}

.text p{
    font-size: 20px;
    margin: 50px;
}

.mvi-container{
    display: grid;
    grid-template-columns:  27% 27% 27% 27%;
    margin: 100px;
    margin-left: 10%;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: -80px;
    
}

.box
{
    
    margin-top: 20px;
    padding-top: 40px;
    position: relative;
    width:250px;
    perspective: 1000px;
    transition: all 0.5s ease-in-out 0.5s;
    margin-top: 50px;
    
}

.box:hover
{
    transform: scale(1.1);
    box-shadow: 1px 2px 10px 5px solid #292525
}

.box-img img
{
    height:380px;
    width:250px;
    border:2px solid rgb(230, 202, 211);
    border-radius: 10px;
}
 .box-img
{
  transform: rotateY(0);
  transition: all 0.5s ease-in-out 0s;
}

.box:hover .box-img
{
    transform: rotateY(-90deg); 
}

.content
{
    color:white;
    background-color: #292525;
    top:0;
    left:0;
    height: 100%;
    width:100%;
    position: absolute;
    padding: 90px 20px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 10px;
    transform: rotateY(90deg);
    transition: all 0.5s ease-in-out 0s;
}

.box:hover .content
{
    transform: rotateY(0); 
}


.button
{
    color:white;
    background-color:none;
    top:0;
    left:0;
    height: 100%;
    width:100%;
    position: absolute;
    padding: 260px 50px;
    box-sizing: border-box;
    text-align: center;
    align-items: center;
    transform: rotateY(90deg);
    transition: all 0.5s ease-in-out 0s;
}

.box:hover .button
{
    transform: rotateY(0);
    
}

.button li
{
   list-style: none; 
   padding: 15px 0;
}

.button li p
{
    color: white;
    text-decoration: none;
    border: 1px solid transparent;
    padding: 5px 10px;
    background-color: rgb(167, 149, 48);
    border-radius: 50px;
}

.button li p .b2{
    margin-bottom: 50px;

}

.box .button li p:hover
{
 background-color:rgb(158, 147, 84);
}


.search-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px; 
    margin-left: 20px;
}

.search-section h2{
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    letter-spacing: 5px;
}

.search-section input{
    padding: 10px 30px;
    font-size: 16px;
    width: 500px;
    border-radius: 30px;
    border:3px solid white ;
    background-color: #292525;
    color: aliceblue;
    margin-left: 370px;
    
}

.loader {
    width: 48px;
    height: 48px;
    border: 3px dotted #FFF;
    border-style: solid solid dotted dotted;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    animation: rotation 2s linear infinite;
    margin-left: 650px;
    margin-top: 200px;
  }
  .loader::after {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 3px dotted #FF3D00;
    border-style: solid solid dotted;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    animation: rotationBack 1s linear infinite;
    transform-origin: center center;
  }
      
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 
  @keyframes rotationBack {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  } 

.footer{
    padding: 10px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-error{
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
}

@media(max-width:1920px) 
{

    .search-section input

    {
        
       width: 500px;
       margin-left: 660px;
    

    }

    .loader{
        margin-left: 870px;
        margin-top: 350px;
      }
}


@media(max-width:1400px) 
{

    .search-section input

    {
        
       width: 400px;
       margin-left: 420px;
       
    }

    .loader{
        margin-left: 650px;
        margin-top: 250px;
      }
}


@media(max-width:1280px) 
{

    .search-section input

    {
        
       width: 400px;
       margin-left: 320px;
       


    }


    .mvi-container
{
   
   display: grid;
   grid-template-columns:35% 35% 35% ;  
   margin: 100px;
   margin-top: -100px;
    
}

.box-img img{
   margin-left: 40px;
}

}


@media(max-width:1000px) 
{

    .search-section input

    {
        
       width: 400px;
       margin-left: 180px;
       

    }


    .mvi-container
{
   
   display: grid;
   grid-template-columns:50% 50% ;  
    
}

}


@media(max-width:750px) {

   
    .search-section h2{
        font-size: 15px;
    
      }
    
       .search-section input
    
        {
           
        width: 250px;
        margin-left: 150px;
                  
        }
    
        .search-section p{
            font-size: 15px;
        }
    
    
    
        .mvi-container
    {
        display: grid;
        grid-template-columns:100%  ; 
        margin-top: -100px;
        margin-left: 150px; 
    }
    


    } 



@media(max-width:600px) {

   .search-section h2{
    font-size: 12px;

  }

   .search-section input

    {
       
    width: 250px;
    margin-left: 80px;
              
    }

    .search-section p{
        font-size: 15px;
    }



    .mvi-container
{
    display: grid;
    grid-template-columns:100%  ; 
    margin: 100px;
    margin-top: -100px;
     
}

}

@media(max-width:430px) 
{

    
    .nav-logo span{
        font-size: 14px;
        margin-left: -50px;
    }

    .search-section input

    {
       
    width: 250px;
    margin-left: 30px;
              
    }

    .mvi-container{
        margin: 30px;
        margin-top: -50px;
    }

    
    .box:hover {
        margin-left: 40px;
    }

    .loader{
        margin-left: 150px;
        margin-top: 250px;
    }
}

@media(max-width:390px) 
{

    
    .search-section input

    {
       
    width: 250px;
    margin-left: 10px;
              
    }

    .mvi-container{
        margin: 10px;
        margin-top: -50px;
    }

}